.main-bg {
    @apply bg-gray-100 box-border py-10;
}
.content {
    box-sizing: border-box;
    margin: auto;
    width: 1000px;
}
.sec-gap {
    margin-bottom: 2rem !important;
}
.full-button {
    @apply p-2 rounded w-full cursor-pointer block;
}
@media screen and (max-width: 1024px) {
    .content {
        width: 90%;
    }
}